.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 30px;
}

.mainbody h1{
    padding-top: 20px;
    font-family: 'Jost',sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 10px;
}

.signform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.signform input[type="password"],
  .signform input[type="email"],.signform input[type="text"] { 
    padding: 10px;
    width: 100%;
    height:50px;
    border: 0.5px solid #ccc; 
    border-radius: 4px;
    font-family: 'Jost',sans-serif;
    font-size: 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 1, 0.179);
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    color: black;
    padding: 15px 20px;
    font-family: 'Jost',sans-serif;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    z-index: 999;
  }

  .signform button{
    
    padding: 10px 20px;
    background-color:   #6592E6; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17.6px; 
    font-weight: 600;
    width: 522px;
    height: 48px;
     
  }
  .signform button:hover{
    background-color: #4285F4;
  }

  .googlesign{
    width: 522px;
  }

  .googlesign button {
    background-color: #333333;  
    color: white;
    border: none;
    border-radius: 1px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:start;
    padding-left: 30%;
     width: 100%;
   /* height: 50px; */
   box-shadow: 1px 1px 2px rgba(0, 0, 1, 0.179);
   height: 48px;
   border-radius:4px;
}

.googlesign button:hover{
    box-shadow: 0 0 10px rgba(102, 178, 255, 1);
    /* background-color:   #6592E6 */
}
.googlesign button .google-icon {
    padding-right: 20px;
    display: flex; 
}
  .signform input[type="text"]:hover,
.signform input[type="email"]:hover{

    border: 1px solid #6592E6;
}

.signbuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    border-top: 1px solid #E5E5E5;
    padding-top: 40px;
    width: 522px;
    margin: auto;
}

.d-flex{
    display: flex;
    gap: 220px;
}
.password-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: 80%;
    padding: 10px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

 /* Styles for the toggle button */
 .toggle-container {
    display: flex;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-text{
    padding: 6px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.signupbuttons{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 20px;

}
.pass{
    padding: 10px 20px;
    background-color:   #6592E6; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17.6px; 
    font-weight: 600;
    text-align: center;
    height: 40px;   
    box-shadow: 1px 1px 2px rgba(0, 0, 1, 0.179);
}
.signup{
    /* padding: 10px 20px; */
    /* background-color:   #232323;  */
    color: #007AFF;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 17.6px; 
    font-weight: 500;
    /* height: 40px;   
    box-shadow: 1px 1px 2px rgba(0, 0, 1, 0.179); */
}

.pass:hover{
    background-color:#4285F4 ;
}

.signup:hover{
    background-color: #e5e5e5;
}

@media only screen and (max-width: 1024px) {
    .mainbody h1 {
        font-size: 36px; 
    }

    .signform input[type="text"],
    .signform input[type="email"],
    .signform button {
        width: 300px; 
    }

    .signform input[type="password"] {
        width: 90%;
    }
}
